<!DOCTYPE html>
<html ng-app="@ViewBag.AngularModule">
    <head>
        <meta charset="utf-8" />
        <title>Messageboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        @Styles.Render("~/Styles/lib/Bootstrap/css")
        @Styles.Render("~/Styles/lib/FontAwesome/css")
        @Styles.Render("~/Styles/lib/Alertify/css")
        @Styles.Render("~/Styles/app/css")
    </head>
    <body>
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Alexander Moerman, workshop Hogeschool Gent</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/lib")
        @Scripts.Render("~/bundles/app")
    </body>
</html>